
main#box{
    display: flex;
    flex-direction: column;
    background-color: #242B33;
    height: 98%;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 15px;
    border: 2px solid rgb(85, 79, 79);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

section#header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

span.arrow{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    user-select: none;
}

span.arrow:hover{
    background-color: #155eb86c;
    border-radius: 100%;
    transition: background-color 0.3s ease;
}

.calendar{
    display: grid;
    background-color: #2A3C52;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    width: 100%;
    height: 95%;
    padding: 10px;
    border-radius: 10px;
}

.day{
    background-color: #295285;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 80%;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}

.day:hover{
    background-color: #155EB8;
    transition: background-color 0.3s ease;
}

#actual-day{
    background-color: #1b6ccf;
    border: 3px solid #a79d12;
}

#title{
    color: white;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-event{
    color: white;
    background-color: #1b6ccf;
    width: 1.2rem;
    height: 1.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 100%;
    border: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.day:hover .add-event{
    background-color: #6a9ddb;
    opacity: 1;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card-task{
    color: white;
    background-color: #242B33;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(85, 79, 79);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

    left: 250px;
    top: 60px;
    bottom: 60px;
    margin: auto;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.4s ease, overlay 0.4s, display 0.4s;
    transition-behavior: allow-discrete;
}

.card-task:popover-open{
    opacity: 1;
    transform: translateY(0);
}

@starting-style{
    .card-tarefa:popover-open{
        opacity: 0;
        transform: translateY(20px);
    }
}

.card-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
}

.card-title{
    font: 700 1.5rem sans-serif;
}

#close-card{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#close-card:hover{
    color: #ff4d4d;
    transition: color 0.3s ease;
}

.input-group{
    display: flex;
    gap: 10px;
    width: 100%;
    margin-bottom: 15px;
}

input[type="text"].task-description{
    height: 40px;
}

.input-group select{
    padding: 8px;
    border-radius: 5px;
}

.card-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#complete-button{
    color: rgb(255, 255, 255);
    background-color: #E2B93B;
    padding: 10px;
    font-weight: bold;
}

#complete-button:hover{
    background-color: #d4af37; /* Um tom ligeiramente mais escuro no hover */
    transform: translateY(-1px);
}

#cancel-button{
    color: #CCCCCC;
    background-color: transparent;
    padding: 10px;
    font-weight: bold;
    border-color: #CCCCCC
}

#cancel-button:hover{
    background-color: rgba(255, 255, 255, 0.1); /* Um brilho sutil ao passar o mouse */
    color: #ffffff;
}